
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* ========image Or heading handle=========== */
.top-img img{
    width: 15%;
    height: auto;
}

@media only screen and (max-width: 400px) {
    .top-img img{
        width: 30%;
        height: auto;
    }
    
}
.top-heading h1{
    font-weight: 700;
    text-decoration: underline;
}

/* ========image Or heading handle=========== */



/* ========Form Update button Hide=========== */
#update-btn{
    display: none;
}
/* ========Form Update button Hide=========== */


